streamlit==1.32.0
psycopg2-binary==2.9.9
bcrypt==4.1.2
PyJWT==2.8.0
python-dotenv==1.0.1
watchdog==3.0.0
pyngrok==7.1.6

nltk==3.8.1
textstat==0.7.3
transformers==4.38.2
torch==2.2.1

plotly==5.19.0
streamlit-option-menu==0.3.6
wordcloud==1.9.3
matplotlib==3.8.3

PyPDF2==3.0.1
pandas==2.2.1
numpy==1.26.4
pillow==10.2.0
